settings.json

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
web-build/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Typescript
*.tsbuildinfo

# iOS
*.xcodeproj
*.xcworkspace

# Android
*.apk
*.aab
*.ap_
*.aab

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Temporary files
*.tmp
*.temp